IDNowTest-Objc/IDNowTest-Objc.xcodeproj/xcuserdata/
IDNowTest-Objc/IDNowTest-Objc.xcworkspace/xcshareddata/
IDNowTest-Objc/IDNowTest-Objc.xcworkspace/xcuserdata/
IDNowTest-Objc/IDNowTest-Objc.xcodeproj/project.xcworkspace/
IDNowTest-Objc/Carthage
